<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSNavLastRootDirectory</key>
	<string>~/code</string>
	<key>NSNavLastUserSetHideExtensionButtonState</key>
	<true/>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 450}</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{805, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>-1975 896 805 448 -3840 -240 3840 2135 </string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>allowAnyShortcut</key>
	<false/>
	<key>almostMaximizeHeight</key>
	<real>0.0</real>
	<key>almostMaximizeWidth</key>
	<real>0.0</real>
	<key>altThirdCycle</key>
	<integer>0</integer>
	<key>alternateDefaultShortcuts</key>
	<false/>
	<key>bottomCenterSixth</key>
	<dict>
		<key>keyCode</key>
		<integer>4</integer>
		<key>modifierFlags</key>
		<integer>1703936</integer>
	</dict>
	<key>bottomLeftSixth</key>
	<dict>
		<key>keyCode</key>
		<integer>5</integer>
		<key>modifierFlags</key>
		<integer>1703936</integer>
	</dict>
	<key>bottomRightSixth</key>
	<dict>
		<key>keyCode</key>
		<integer>38</integer>
		<key>modifierFlags</key>
		<integer>1703936</integer>
	</dict>
	<key>centerHalfCycles</key>
	<integer>0</integer>
	<key>centerThird</key>
	<dict>
		<key>keyCode</key>
		<integer>19</integer>
		<key>modifierFlags</key>
		<integer>1572864</integer>
	</dict>
	<key>centeredDirectionalMove</key>
	<integer>0</integer>
	<key>curtainChangeSize</key>
	<integer>0</integer>
	<key>firstThird</key>
	<dict>
		<key>keyCode</key>
		<integer>18</integer>
		<key>modifierFlags</key>
		<integer>1572864</integer>
	</dict>
	<key>footprintAlpha</key>
	<real>0.30000001192092896</real>
	<key>footprintBorderWidth</key>
	<real>2</real>
	<key>footprintFade</key>
	<integer>0</integer>
	<key>gapSize</key>
	<real>0.0</real>
	<key>hideMenubarIcon</key>
	<false/>
	<key>ignoredSnapAreas</key>
	<integer>0</integer>
	<key>lastThird</key>
	<dict>
		<key>keyCode</key>
		<integer>20</integer>
		<key>modifierFlags</key>
		<integer>1572864</integer>
	</dict>
	<key>lastVersion</key>
	<string>49</string>
	<key>launchOnLogin</key>
	<true/>
	<key>minimumWindowHeight</key>
	<real>0.0</real>
	<key>minimumWindowWidth</key>
	<real>0.0</real>
	<key>nextDisplay</key>
	<dict>
		<key>keyCode</key>
		<integer>30</integer>
		<key>modifierFlags</key>
		<integer>1572864</integer>
	</dict>
	<key>obtainWindowOnClick</key>
	<integer>0</integer>
	<key>previousDisplay</key>
	<dict>
		<key>keyCode</key>
		<integer>33</integer>
		<key>modifierFlags</key>
		<integer>1572864</integer>
	</dict>
	<key>relaunchOpensMenu</key>
	<false/>
	<key>resizeOnDirectionalMove</key>
	<false/>
	<key>retainSizeNextPrevDisplay</key>
	<integer>0</integer>
	<key>screenEdgeGapBottom</key>
	<integer>10</integer>
	<key>screenEdgeGapLeft</key>
	<integer>10</integer>
	<key>screenEdgeGapRight</key>
	<integer>10</integer>
	<key>screenEdgeGapTop</key>
	<integer>10</integer>
	<key>showAllActionsInMenu</key>
	<integer>0</integer>
	<key>sizeOffset</key>
	<real>0.0</real>
	<key>snapEdgeMarginBottom</key>
	<real>5</real>
	<key>snapEdgeMarginLeft</key>
	<real>5</real>
	<key>snapEdgeMarginRight</key>
	<real>5</real>
	<key>snapEdgeMarginTop</key>
	<real>5</real>
	<key>snapModifiers</key>
	<integer>0</integer>
	<key>subsequentExecutionMode</key>
	<integer>0</integer>
	<key>todo</key>
	<integer>0</integer>
	<key>todoMode</key>
	<false/>
	<key>todoSidebarWidth</key>
	<real>400</real>
	<key>topCenterSixth</key>
	<dict>
		<key>keyCode</key>
		<integer>16</integer>
		<key>modifierFlags</key>
		<integer>1703936</integer>
	</dict>
	<key>topLeftSixth</key>
	<dict>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1703936</integer>
	</dict>
	<key>topRightSixth</key>
	<dict>
		<key>keyCode</key>
		<integer>32</integer>
		<key>modifierFlags</key>
		<integer>1703936</integer>
	</dict>
	<key>traverseSingleScreen</key>
	<integer>0</integer>
	<key>unsnapRestore</key>
	<integer>0</integer>
	<key>windowSnapping</key>
	<integer>0</integer>
</dict>
</plist>
